* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

header {
  background-color: rgb(44, 62, 80);
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.navbar .logo a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.list-items {
  display: flex;
  list-style: none;
}

.list-items li:not(:first-child) {
  padding-left: 20px;
}

.list-items li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.list-items li a {
  transition: 0.3s;
}

.list-items li:hover a {
  color: #1abc9c;
}

#intro {
  background-color: #1abc9c;
  padding-bottom: 110px;
  position: sticky;
}

#intro .intro-wrapper {
  display: flex;
  justify-content: center;
}

#intro .intro-wrapper .intro-image img {
  width: 100%;
}

.intro-image {
  padding: 75px 0 30px;
}

.intro-title {
  display: flex;
  justify-content: center;
  position: sticky;
}

.intro-title h1 {
  color: #fff;
  font-size: 30px;
}

.intro-icon {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.intro-icon .icon i {
  color: #fff;
  font-size: 25px;
}

.intro-icon {
  position: relative;
}

.intro-icon .icon::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  left: 60px;
  top: 10px;
}

.intro-icon .icon::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  right: 60px;
  top: 10px;
}

.intro-description {
  margin-top: 15px;
  color: #fff;
  font-weight: 500;
}

#intro-2 {
  background-color: #fff;
  padding-bottom: 110px;
}
.container-2 {
  width: 1140px;
  margin: 0 auto;
}

#intro-2 .wrapper-2 {
  display: flex;
  justify-content: center;
}

.title-2 {
  display: flex;
  justify-content: center;
  position: sticky;
  margin-top: 20px;
}

.title-2 h2 {
  color: rgb(44, 62, 80);
  font-size: 40px;
}
.icon-2 .icon-1 i {
  color: rgb(44, 62, 80);
  font-size: 25px;
}

.icon-2 {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.icon-2 .icon-1::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: rgb(44, 62, 80);
  border-radius: 3px;
  left: 60px;
  top: 10px;
}

.icon-2 .icon-1::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: rgb(44, 62, 80);
  border-radius: 3px;
  right: 60px;
  top: 10px;
}

.card-image {
  width: 10px;
  height: auto;
  top: 10px;
  display: flex;
  justify-content: center;
  margin: 100px;
  padding: 20px 0 30px;
}

#intro-3 {
  background-color: #1abc9c;
  padding-bottom: 110px;
  position: sticky;
}

#intro-3 .wrapper-3 {
  display: flex;
  justify-content: center;
}

.title-3 {
  display: flex;
  justify-content: center;
  position: sticky;
}

.title-3 h1 {
  color: #fff;
  font-size: 40px;
}

.icon-3 .icon-about i {
  color: #fff;
  font-size: 25px;
}
.container-3 {
  width: 1140px;
  margin: 0 auto;
}

.icon-3 {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.icon-3 .icon-about::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  left: 50px;
  top: 10px;
}

.icon-3 .icon-about::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  right: 50px;
  top: 10px;
}

.description-3 {
  color: #fff;
  font-weight: 500px;
  margin-top: 19px;
  margin-right: 60%;
  width: 30%;
  color: white;
  font-size: 20px;
}

.description-4 {
  color: #fff;
  font-weight: 300px;
  margin-top: 10px;
  margin-left: 60%;
  width: 30%;
  color: white;
  font-size: 20px;
}

.icon-4 .icon-download i {
  color: #fff;
  font-size: 20px;
  margin-left: 270%;
}

.icon-4 {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.container-4 {
  width: 1140px;
  margin: 0 auto;
}
footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2c3e50;
  color: #fff;
}
#footer-top {
  background-color: #2c3e50;
  padding-bottom: 110px;
  position: sticky;
}

#footer-bottom {
  background-color: #1a252f;
  padding-bottom: 110px;
}
.container-5 {
  text-align: center !important;
  margin-top: 20px;
  background-color: #1a252f;
}

.content-4 a {
  color: #1abc9c;
}
